<mat-card
  [ngClass]="[getColor(),getBackground()]"
>
  <div class="mat-display-4 title">
    {{appName}}
  </div>
  <div>
    <img
      src="assets/potato.webp"
      (dblclick)="showToys=!showToys"
      [class.rotate]="shouldISpinAPotato"
      class="potato"
      alt="a standard looking potato">
  </div>
  <div *ngFor="let toy of toys; index as i">
    <img
      (dblclick)="flip(i)"
      [class.flip]="isFlipped(i)"
      *ngIf="showToys"
      src="assets/{{toy}}.webp"
      cdkDrag
     alt="{{toy}}"
    >
  </div>
</mat-card>
