<mat-card class="wrapper"
  [ngClass]="getBackground()"
>
  <mat-card-title>
    Would you like to save your current board before opening this one??
  </mat-card-title>
  <mat-card-actions>
    <button
      mat-raised-button
      (click)="openDialog()"
      cdkFocusInitial
      >
      Yes
    </button>
    <button
      mat-raised-button
      (click)="handleNo()"
    >
      No
    </button>
    <button
      mat-raised-button
      (click)="handleCancel()"
    >
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
