<form>
  <mat-form-field class="example-full-width">
    <mat-label>Devs Name</mat-label>
    <input matInput #devName placeholder="Dev D. Developer">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="handleAdd(devName.value); devName.value = ''">Add Dev</button>
</form>
<mat-checkbox
  [checked]="enableSound"
  (change)="handleEnableSound($event)"
>
  Enable Sound
</mat-checkbox>
<div>
  <mat-card
    matTooltip="Double Click to move to Back Burner"
    *ngFor="let dev of devs; let i = index"
    (dblclick)="handleDisable(i,dev)"
    [class.disabled]="isDisabled(dev)"
  >
    <div class="mat-title">
      {{dev}}
    </div>
    <button
      class="peel-button"
      mat-mini-fab
      color="warn"
      (click)="handleDelete(i)"
    >
      PEEL
    </button>
  </mat-card>
</div>


