<div
  class="swipe-area"
  (swipeleft)="handleLeft()"
  (swiperight)="handleRight()"
>
<mat-tab-group
  [(selectedIndex)]="currentIndex"
  [ngClass]="getBackground()"
  animationDuration="200ms"
>
  <mat-tab
    label="Developers"
  >
    <app-dev-controls [isMobile]="true"></app-dev-controls>
  </mat-tab>
  <mat-tab label="Boards">
    <app-boards [isMobile]="true"></app-boards>
  </mat-tab>
  <mat-tab label="Spuddies">
    <app-display
      (taterSpinningTime)="handleSpin($event)"
      [isMobile]="true"
    >
    </app-display>
  </mat-tab>
</mat-tab-group>
</div>
