.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.three-columns{
  display: flex;
  align-items: flex-start;
  width: 100%;
}

app-potato{
  width: 100%;
}

app-dev-controls{
  margin: 3rem 1.5rem 3rem 3rem;
  min-width: 25%;
}

app-boards{
  margin: 3rem 1.5rem;
  min-width: 20%;
}

app-display {
  margin: 3rem 3rem 3rem 1.5rem;
  min-width: 40%;
}
