<form class="form-container">
  <mat-form-field
    class="wide-value-input"
    [ngClass]="getInputColor()"
  >
    <mat-label
    >
      {{type.label}}
    </mat-label>
    <input
      matInput
      #itemName
    >
  </mat-form-field>
  <button
    class="icon-button add-button"
    mat-icon-button
    color="accent"
    [attr.aria-label]="'Add '+type.typeName"
    (click)="handleAdd(itemName.value); itemName.value = ''"
  >
    <mat-icon>
      add_circle
    </mat-icon>
  </button>
</form>

<div>
  <mat-card
    class="added-list-item"
    [matTooltip]="isMobile?'':backBurnerMessage"
    *ngFor="let item of list; let i = index"
    (dblclick)="handleDisable(i,item)"
    (press)="handleDisable(i, item)"
    [ngClass]="[getCurrentClass(item),isStrikeThrough(item)]"
  >
    <div class="mat-title">
      {{item}}
    </div>
    <div>
      <button
        class="icon-button"
        [attr.aria-label]="'Disable '+type.typeName"
        mat-icon-button
        (click)="handleDisable(i, item)"
      >
        <mat-icon>
          {{isDisabled(item) ? type.iconOff : type.iconOn}}
        </mat-icon>
      </button>
      <button
        class="icon-button"
        [attr.aria-label]="'Peel '+type.typeName"
        mat-icon-button
        (click)="handleDelete(i)"
      >
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div>
  </mat-card>
</div>
