button {
  margin: 1rem;
  padding: 0;
}

mat-card {
  margin: 1rem;
}

.dev {
  margin: 1rem !important;
  cursor: grab;
}

.pair-card {
  display: flex;
  min-height: 6rem;
  padding: 0 0 0 1rem;
}

.carrying {
  background: burlywood;
  color: lemonchiffon;
}

.cdk-drag-preview {
  @extend .mat-card;
  background: palegoldenrod;
  margin: 1rem !important;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

:active {
  cursor: grab;
}

.pairing-controls {
  display: flex;
  align-items: center;
}

.spuddies-label {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  color: lemonchiffon;
  background: goldenrod;
  padding: .5rem;
}

.mat-fab {
  padding: 0;
  margin: .5rem 1rem !important;
}
