<div class="pairing-controls">
  <mat-card class="spuddies-label">
      <button
        mat-fab
        class="rotate-button"
        (click)="handleClick()"
        matTooltip="SPIN THE POTATO! MAKE IT ROTATO!"
      >
        <mat-icon class="rotate-slowly">rotate_left</mat-icon>
      </button>
      <div class="title">
        Spuddies
      </div>
  </mat-card>
</div>
<div cdkDropListGroup>
  <mat-card
    cdkDropList
    (cdkDropListDropped)="handleDrop($event)"
    [cdkDropListData]="pair.devs"
    class="pair-card"
    *ngFor="let pair of pairs; index as i"
    matTooltip="Double Click to Carry"
  >
    <mat-card-title>{{pair.board}}</mat-card-title>
    <mat-card
      cdkDrag
      class="dev mat-title"
      [class.carrying]="isCarrying(dev)"
      (dblclick)="handleMarkAsCarry(dev)"
      *ngFor="let dev of pair.devs"
    >
      {{dev}}
    </mat-card>
  </mat-card>
</div>
