button {
  margin: .5rem;
  padding: 0;
}

mat-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: .5rem;
}

mat-card-title {
  margin: .5rem !important;
  width: 100%;
}

.title{
  font-size: 48px;
  margin-left: 1rem;
}

.dev {
  margin: .5rem 0 1rem .5rem !important;
  padding-right: .5rem;
  cursor: grab;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drag-indicator{
  margin: 0 0 0 1rem;
}

.pair-card {
  display: flex;
  min-height: 6rem;
  padding: 0 0 0 .5rem;
}

.cdk-drag-preview {
  margin: .5rem !important;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cdk-drag-placeholder{
  opacity: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

:active {
  cursor: grab;
}

.pairing-controls {
  display: flex;
  align-items: center;
  width: 100%;
}

.spuddies-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 500;
  padding: .5rem 0;
}

.mat-fab {
  padding: 0;
  margin: .5rem 1rem !important;
}

.cards-with-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dev-cards{
  display: flex;
  justify-content: center;
}
