@use 'colors';

.black-color-1 {
  color: darkgrey;
}

.black-color-2 {
  color: darkgrey;
}

.black-selected{
  color: black;
  background: darkgrey !important;
}

.black-background-1{
  background: black;
  .mat-tab-label-content{
    color: darkgrey;
  }
}

.black-background-2{
  background: black;
  color: darkgrey;
  border: darkgrey 1px solid;
}

.black-background-3{
  background: black;
  border: darkgrey 1px solid;
}

.black-background-4{
  background: black;
  border: darkgrey 1px solid;
}

.black-background-5{
  background: black !important;
  color: darkgrey;
  border: darkgrey 1px solid;
}

.black-label{
  color: darkgrey;
  background: black;
}

.black-input{
  background-color: black !important;
  color: grey !important;
}

.black-form{
  .mat-form-field-underline{
    background: grey !important;
  }
}
