@use 'colors';

.black-background{
  background: black;
  .mat-tab-label-content{
    color: darkgrey;
  }
}

.black-dev-card{
  background: black !important;
  color: darkgrey;
  border: darkgrey 1px solid;
}

.black-pair-card{
  background: black;
  color: darkgrey;
  border: darkgrey 1px solid;
}

.black-spuddies{
  color: darkgrey;
  background: black;
  border: darkgrey 1px solid;
}

.black-header{
  color: darkgrey;
  background: black;
  border: darkgrey 1px solid;
}

.black-list-item{
  background: black !important;
  color: darkgrey;
  border: darkgrey 1px solid;
}

.black-selected{
  color: black;
  background: darkgrey !important;
}

.black-input{
  .mat-form-field-underline{
    background: darkgrey !important;
  }
  input{
    background-color: black !important;
    color: darkgrey !important;
  }
  mat-label{
    color: darkgrey;
    background: black;
  }
}


.black-shared-page{
  background: black !important;
  color: darkgrey;
}
