@use 'colors';
.classic-background {
  background: blanchedalmond;

  .mat-tab-label-content {
    color: black;
  }
}

.classic-dev-card{
  background: white !important;
}

.classic-pair-card{
  background: blanchedalmond;
}

.classic-spuddies {
  color: lemonchiffon;
  background: goldenrod;
}

.classic-header{
  color: blanchedalmond;
  background: colors.$dark-chocolate;
}

.classic-selected {
  color: lemonchiffon;
  background: #deb887 !important;
}

.classic-list-item {
  background: white !important;
}

.classic-input {
  mat-label {
    color: black;
    background: blanchedalmond !important;
  }
}

.classic-shared-page {
  color: lemonchiffon;
  background: colors.$dark-chocolate;
}
