@use 'colors';

.dark-background{
  background: black;
  .mat-tab-label-content{
    color: lemonchiffon;
  }
}

.dark-dev-card{
  background: chocolate !important;
  color: blanchedalmond;
}

.dark-pair-card{
  background: sienna;
  color: blanchedalmond;
}

.dark-spuddies{
  color: lemonchiffon;
  background: colors.$dark-chocolate;
}

.dark-header{
  color: lemonchiffon;
  background: colors.$dark-chocolate;
}

.dark-selected{
  color: lemonchiffon;
  background: brown !important;
}

.dark-list-item{
  background: chocolate !important;
  color: blanchedalmond;
}

.dark-input{
  .mat-form-field-underline{
    background: lemonchiffon !important;
  }

  mat-label{
    color: lemonchiffon;
    background: black;
  }

  input{
    background-color: black !important;
    color: lemonchiffon !important;
  }
}

.dark-shared-page{
  background: chocolate !important;
  color: blanchedalmond;
}

