@use 'colors';

.light-background{
  background: white;
  .mat-tab-label-content{
    color: darkkhaki;
  }
}

.light-dev-card{
  background: white !important;
  color: darkkhaki;
  border: lemonchiffon 1px solid;
}

.light-pair-card{
  color: darkkhaki;
}

.light-spuddies{
  color: darkkhaki;
  background: white;
  border: lemonchiffon 1px solid;
}

.light-header{
  background: white;
  color: darkkhaki;
  border: lemonchiffon 1px solid;
}

.light-selected{
  color: darkkhaki;
  background: white !important;
  border: darkkhaki 1px solid;
}

.light-list-item{
  background: white !important;
  color: darkkhaki;
  border: lemonchiffon 1px solid;
}

.light-input{
  background-color: white !important;
  color: darkkhaki !important;

  .mat-form-field-underline{
    background: white !important;
  }

  mat-label{
    color: darkkhaki;
    background: white;
  }
}
