@use 'colors';

.purple-background{
  background: rebeccapurple;
  .mat-tab-label-content{
    color: whitesmoke;
  }
}

.purple-dev-card{
  background: mediumpurple !important;
  color: whitesmoke;
}

.purple-pair-card{
  background: rebeccapurple;
  color: whitesmoke;
}

.purple-spuddies{
  color: whitesmoke;
  background: mediumpurple;
}

.purple-header{
  color: whitesmoke;
  background: mediumpurple;
}

.purple-selected{
  color: whitesmoke;
  background: purple !important;
}

.purple-list-item{
  background: mediumpurple !important;
  color: whitesmoke;
}

.purple-input{
  input{
    background-color: rebeccapurple !important;
    color: whitesmoke !important;
  }

  .mat-form-field-underline{
    background: whitesmoke !important;
  }

  mat-label{
    color: whitesmoke;
    background: rebeccapurple;
  }
}

.purple-shared-page{
  background: blueviolet !important;
  color: whitesmoke;
}

