.classic-color-1 {
  color: lemonchiffon;
}

.classic-color-2 {
  color: tan;
}

.classic-selected {
  color: lemonchiffon;
  background: burlywood !important;
}

.classic-background-1 {
  background: blanchedalmond;
}

.classic-background-2 {
  background: blanchedalmond;
}

.classic-background-3 {
  background: #2d1104;
}

.classic-background-4 {
  background: goldenrod;
}

.classic-background-5 {
  background: white !important;
}

.dark-color-1 {
  color: lemonchiffon;
}

.dark-color-2 {
  color: lemonchiffon;
}

.dark-selected {
  color: lemonchiffon;
  background: brown !important;
}

.dark-background-1 {
  background: black;
}

.dark-background-2 {
  background: sienna;
  color: blanchedalmond;
}

.dark-background-3 {
  background: #2d1104;
}

.dark-background-4 {
  background: #2d1104;
}

.dark-background-5 {
  background: chocolate !important;
  color: blanchedalmond;
}

.dark-label {
  color: lemonchiffon;
  background: black;
}

.dark-input {
  background-color: black !important;
  color: lemonchiffon !important;
}

.dark-form .mat-form-field-underline {
  background: lemonchiffon !important;
}

.black-color-1 {
  color: gray;
}

.black-color-2 {
  color: grey;
}

.black-selected {
  color: black;
  background: darkgrey !important;
}

.black-background-1 {
  background: black;
}

.black-background-2 {
  background: black;
  color: grey;
  border: darkgrey 1px solid;
}

.black-background-3 {
  background: black;
  border: darkgrey 1px solid;
}

.black-background-4 {
  background: black;
  border: darkgrey 1px solid;
}

.black-background-5 {
  background: black !important;
  color: grey;
  border: darkgrey 1px solid;
}

.black-label {
  color: grey;
  background: black;
}

.black-input {
  background-color: black !important;
  color: grey !important;
}

.black-form .mat-form-field-underline {
  background: grey !important;
}

.light-color-1 {
  color: darkkhaki;
}

.light-color-2 {
  color: darkkhaki;
}

.light-selected {
  color: darkkhaki;
  background: white !important;
  border: darkkhaki 1px solid;
}

.light-background-1 {
  background: white;
}

.light-background-2 {
  background: white;
  color: darkkhaki;
}

.light-background-3 {
  background: white;
  border: lemonchiffon 1px solid;
}

.light-background-4 {
  background: white;
  border: lemonchiffon 1px solid;
}

.light-background-5 {
  background: white !important;
  color: darkkhaki;
  border: lemonchiffon 1px solid;
}

.light-label {
  color: darkkhaki;
  background: white;
}

.light-input {
  background-color: white !important;
  color: darkkhaki !important;
}

.light-form .mat-form-field-underline {
  background: white !important;
}

button {
  margin: auto;
}

.wide-value-input {
  width: 85% !important;
}

mat-card.added-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 0;
  padding: 0 0 0 1rem;
  user-select: none;
}

.mat-title {
  margin: 0;
  font-size: 16px;
}

.icon-button {
  padding: 0 !important;
  margin: 0.5rem !important;
}

.rotate {
  animation: rotation 250ms infinite linear;
}

.rotate-slowly {
  animation: rotation 50s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.highlight {
  color: red;
}

/*# sourceMappingURL=styles.css.map */
