@import "classic";
@import "dark";
@import "black";
@import "light";
@import 'purple';
@import 'tan';
@import 'orange';

button {
  margin: auto;
}

.wide-value-input {
  margin-left: 1rem;
  min-width: 85% !important;
}

mat-card.added-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .25rem 0;
  padding: 0 0 0 1rem;
  user-select: none;
}

.strike-through {
  text-decoration-line: line-through;
}

.mat-title {
  margin: .5rem !important;
  font-size: 16px;
}

.icon-button {
  padding: 0 !important;
}

.rotate {
  animation: rotation 250ms infinite linear;
}

.rotate-slowly {
  animation: rotation 50s infinite linear;
}

.rotate-x {
  animation: rotation-x 250ms infinite linear;
}

.add-button {
  color: chocolate !important;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotation-x {
  from {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  to {
    transform: scaleX(1);
  }
}

html, body {
  height: 100%;
  scrollbar-width: none;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.highlight {
  color: red;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
