@import "classic";
@import "dark";
@import "black";
@import "light";
button {
  margin: auto;
}

.wide-value-input{
  margin-left: 1rem;
  min-width: 85% !important;
}

mat-card.added-list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .25rem 0;
  padding: 0 0 0 1rem;
  user-select: none;
}

.mat-title {
  margin: .5rem !important;
  font-size: 16px;
}

.icon-button{
  padding: 0 !important;
  //margin: .5rem !important;
}

.rotate {
  animation: rotation 250ms infinite linear;
}

.rotate-slowly {
  animation: rotation 50s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.highlight{
  color: red;
}

.form-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
