<form>
  <mat-form-field
    class="wide-value-input"
    [ngClass]="getFormColor()"
  >
    <mat-label
      [ngClass]="getColor()"
    >
      {{inputLabel}}
    </mat-label>
    <input
      matInput
      #boardName
      [ngClass]="getInputColor()"
    >
  </mat-form-field>
  <button
    class="peel-button"
    mat-mini-fab
    color="accent"
    aria-label="Peel Board"
    (click)="handleAdd(boardName.value); boardName.value = ''"
  >
    <mat-icon>
      add
    </mat-icon>
  </button>
</form>

<div>
  <mat-card
    class="added-list-item"
    [matTooltip]="isMobile?'Long Press to move to Back Burner':'Double Click to move to Back Burner'"
    *ngFor="let board of boards; let i = index"
    (dblclick)="handleDisable(i,board)"
    (press)="handleDisable(i, board)"
    [ngClass]="getCurrentClass(board)"
  >
    <div class="mat-title">
      {{board}}
    </div>
    <button
      class="peel-button"
      aria-label="Peel Board"
      mat-mini-fab
      color="warn"
      (click)="handleDelete(i)"
    >
      {{deleteText}}
    </button>
  </mat-card>
</div>
